.user-form__checkbox {
  display: inline-block;
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  user-select: none;
}

.user-form__checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.user-form__checkbox input:checked ~ .checkbox__checkmark {
  background-color: transparent;
}

.user-form__checkbox input:checked ~ .checkbox__checkmark:after {
  opacity: 1;
}

.user-form__checkbox:hover input ~ .checkbox__checkmark {
  box-shadow: $dark-shadow;
  border-color: $dark;
}

.user-form__checkbox:hover input:checked ~ .checkbox__checkmark {
  box-shadow: $dark-shadow;
  border-color: $dark;
}

.user-form__checkbox .checkbox__checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border: 1.5px solid $grey;
  transition: background-color 0.2s ease;
  border-radius: 3px;
}

.user-form__checkbox .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 3px;
  width: 9px;
  height: 12px;
  border: 1.5px solid $grey;
  border-width: 0 1.5px 1.5px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.user-form__checkbox .checkbox__body {
  color: $grey;
  @each $property,
  $value in $description {
    #{$property}: $value;
  }
 a {
  color: $blue;
  @each $property,
  $value in $description {
    #{$property}: $value;
  }
  text-underline-offset: 3px;
 }
}
