.competitions {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__item {
    list-style-type: none;
    background-color: $white;
    border-radius: 10px;
    padding: 16px;
  }

  &__inf-wrapper {

    @each $property,
    $value in $small {
      #{$property}: $value;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      fill: $grey;
    }
  }

  &__category {

    display: flex;
    align-items: center;

    @each $property,
    $value in $small {
      #{$property}: $value;
    }

  }

  &__address-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;

    @each $property,
    $value in $description {
      #{$property}: $value;
    }
  }

  &__description {

    @each $property,
    $value in $description {
      #{$property}: $value;
    }

    color: $grey;
    // padding: 0 16px;
    padding: 0;
    margin: 0;
    list-style-type: none;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // align-items: center;

    @include vp-1440 {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 16px;
    }


    li {
      position: relative;
      padding-left: 16px;

      &::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $green;
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include vp-1440 {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 24px;
    }

    div {
      display: flex;
      gap: 12px;
    }

    div p,
    div a {

      @each $property,
      $value in $button {
        #{$property}: $value;
      }
    }

    div {
      a {
        display: block;
        border: none;
        cursor: pointer;
        padding: 12px 24px;
        border-radius: 25px;
        line-height: 26px;
      }

      [data-button-registration="registration-active"] {
        background-color: $green;
      }

      [data-button-registration="registration-completed"] {
        background-color: $medium-grey;
        color: $grey;
      }

      [data-button-registration="over"] {
        padding: 12px 0;
        @each $property,
      $value in $h4 {
        #{$property}: $value;
      }
      line-height: 26px;
      color: $grey;
      }
    }
  }

  &__members {
    color: $blue;
    text-decoration: underline;
  }

  a {
    cursor: pointer;
  }
}
