.competitions {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__item {
    list-style-type: none;

    width: 100%;
    height: 100%;
    display: block;
    background-color: $white;
    border-radius: 10px;
    padding: 15px;
    border: 1.5px solid transparent;

    &:hover,
    &:focus-visible,
    &:active {
      border-color: $green;
    }

    &.hidden {
      display: none;
    }
  }


  .competitions__members {

    &:hover,
    &:focus-visible,
    &:active {
      color: $dark;
    }
  }

  &__category {
    color: $dark;
  }

  &__inf-wrapper {

    @each $property,
    $value in $small {
      #{$property}: $value;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      fill: $grey;
    }
  }

  &__category {
    display: flex;
    align-items: center;
    gap: 5px;

    @each $property,
    $value in $description {
      #{$property}: $value;
    }
  }

  &__date {
    color: $dark;
  }

  &__address-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 16px 0;

    color: $dark;

    @each $property,
    $value in $description {
      #{$property}: $value;
    }

    p {
      margin: 0;
    }
  }

  &__address {
    &--mobile {
      display: inline-block;

      @include vp-768 {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @include vp-768 {
        display: inline-block;
      }
    }
  }

  &__description {

    @each $property,
    $value in $description {
      #{$property}: $value;
    }

    color: $grey;
    padding: 0;
    margin: 0;
    list-style-type: none;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4px;

    @include vp-1440 {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 16px;
    }

    li {
      position: relative;
      padding-left: 16px;

      &::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $green;
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    color: $dark;

    p {
      margin: auto 0;
    }

    @include vp-1440 {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 24px;
    }

    div {
      display: flex;
      gap: 12px;
    }

    div p,
    div a {

      @each $property,
      $value in $button {
        #{$property}: $value;
      }
    }


  }

  &__members {
    color: $blue;
    text-decoration: underline;
    text-underline-offset: 4px;

    @each $property,
    $value in $small {
      #{$property}: $value;
    }
  }

  &__title {
    margin: 8px 0;
    color: $dark;

    @each $property,
    $value in $h3 {
      #{$property}: $value;
    }

    @include vp-768 {

      @each $property,
      $value in $h2 {
        #{$property}: $value;
      }
    }
  }
}

.competitions__item-link {
  cursor: pointer;
}

.competitions-list {
  @include vp-768 {
    display: flex;
    align-items: center;
  }

  &__filter-mobile-button {
    display: block;
    padding: 10px;
    background-color: $green;
    border: none;
    cursor: pointer;
    padding: 13px 24px;
    border-radius: 25px;

    @each $property,
    $value in $button {
      #{$property}: $value;
    }

    @include vp-768 {
      display: none;
    }

    &:hover,
    &:focus-visible,
    &:active {
      box-shadow: $dark-shadow;
    }
  }

  &__sort {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: auto !important;
    margin: 24px 0;
  }

  &__sort-button {
    padding: 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      @include vp-1440 {
        display: none;
      }
    }
  }

  &__sort-button button {
    background-color: transparent;
    border: none;
    margin-right: 6px;

    cursor: pointer;
    color: $grey;

    @each $property,
    $value in $small {
      #{$property}: $value;
    }

    border-bottom: 1.5px solid transparent;

    &:hover,
    &:focus-visible,
    &:active {
      border-color: $green;
    }
  }

  &__sort-list {
    display: none;
    position: absolute;
    z-index: 2;
    top: 100%;
    right: 0;
    background-color: $white;
    border-radius: 10px;
    list-style-type: none;
    padding: 16px;
    margin: 0;
    text-align: right;
    white-space: nowrap;
    border-radius: 10px;

    box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.08);

    @each $property,
    $value in $small {
      #{$property}: $value;
    }

    @include vp-1440 {
      box-shadow: none;
      position: relative;
      display: flex;
      border-radius: 30px;
      gap: 8px;
      padding: 4px;
      height: 100%;
    }
  }

  &__sort-list li {
    a {
      margin-left: auto;
      width: max-content;
      padding: 5px 0;
      display: block;
      border-bottom: 1.5px solid transparent;

      &:hover,
      &:focus-visible,
      &:active {
        border-color: $green;
      }
    }

    .active {
      border-color: $green;
    }

    @include vp-1440 {
      a {
        border: none;
        padding: 10px 22px;

        border-radius: 25px;
        border: 1.5px solid transparent;

        &:hover,
        &:focus-visible,
        &:active {
          border-color: $green;
        }
      }

      .active {
        background-color: $green;
        border-color: $green;
      }
    }


  }

  &__sort-list.active {
    display: block;
    animation-name: sortOpen;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
  }

  &__sort-list a {
    color: $dark;
    text-decoration: none;
  }

  &__title {
    margin: 0;

    @each $property,
    $value in $h2 {
      #{$property}: $value;
    }

    text-transform: uppercase;
  }

  &__counter {
    color: $grey;

    margin: 8px 0;

    @each $property,
    $value in $small {
      #{$property}: $value;
    }

    @include vp-768 {
      margin-left: 16px;
    }
  }
}

[data-button-registration] {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 25px;

  @each $property,
  $value in $button {
    #{$property}: $value;
  }

  &:hover,
  &:focus-visible,
  &:active {
    box-shadow: $green-shadow;
  }
}

[data-button-registration="registration-active"] {
  background-color: $green;
  color: $dark;
}

[data-button-registration="registration-completed"] {
  background-color: $medium-grey;
  color: $grey;
  pointer-events: none;
}

[data-button-registration="over"] {
  padding: 12px 0;
  pointer-events: none;

  @each $property,
  $value in $h4 {
    #{$property}: $value;
  }

  line-height: 26px;
  color: $grey;
}


.competitions__card-title {
  display: flex;
  align-items: center;
  gap: 6px;

  button {
    // padding: 3px;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;

    svg {
      stroke: $grey;
      fill: none;
    }

    &:hover,
    &:focus-visible,
    &:active {
      svg {
        stroke: $grey;
        fill: $grey;

      }
    }

  }
}

[data-like="true"] button {
  svg {
    stroke: $green;
    fill: $green;
  }
}
