.filter-list {
  .filter-list__body {
    display: flex;
    flex-direction: column;
    margin-top: 24px;

    @include vp-768 {
      flex-direction: row;
      margin-top: 48px;
    }
  }

  .filters {
    display: none;
    position: fixed;
    top: 50%;
    left: 16px;
    right: 16px;
    transform: translate(0%, -50%);
    z-index: 4;
    padding: 24px 16px;
    background-color: $white;
    border-radius: 10px;
    height: max-content;

    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 80px);

    h2 {
      margin: 0 0 8px;
    }

    @include vp-768 {
      position: sticky;
      left: 0;
      transform: translate(0);
      top: 12px;
      height: max-content;
      max-width: 275px;
      width: 100%;
      margin-right: 20px;
      z-index: 0;
      display: block;
      overflow-y: auto;
      max-height: calc(100vh - 24px);
    }

    @include vp-1440 {
      max-width: 397px;
    }

    &__title-wrapper {
      display: flex;
      justify-content: space-between;

      button {
        border: none;
        background-color: transparent;
        cursor: pointer;

        @include vp-768 {
          display: none;
        }
      }

      h2 {

        @each $property,
        $value in $h3 {
          #{$property}: $value;
        }

        @include vp-768 {

          @each $property,
          $value in $h2 {
            #{$property}: $value;
          }
        }
      }
    }

    .filter-container {
      margin-bottom: 20px;

      h3 button {
        margin: 0;

        @each $property,
        $value in $button {
          #{$property}: $value;
        }
      }

      h3 {
        margin: 0;

        @each $property,
        $value in $button {
          #{$property}: $value;
        }
      }
    }

    .filter-input {
      padding: 12px 12px;
      width: 100%;
      border: none;
      border-radius: 5px;
      border: 1.5px solid $medium-grey;
      margin: 16px 0;
      outline: none;
      padding-right: 32px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .filter-list {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      margin: 10px 0;
    }

    .filter-item {
      cursor: pointer;
    }

    .filter-item.hidden {
      display: none;
    }

    .selected-container {
      padding: 10px;
    }

    .selected-items {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .filters.active {
    display: block;

  }

  .list-container {
    @include vp-768 {
      flex-grow: 1;
      margin-top: 0;
    }
  }
}

.list-container {
  .list-container__nothing {

    @each $property,
    $value in $body {
      #{$property}: $value;
    }

    text-align: center;
  }
}

@keyframes sortOpen {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.arrow {
  transform: rotate(0deg);
  transition: transform 0.4s ease-in-out;
}

.arrow.active {
  transform: rotate(180deg);
  transition: transform 0.4s ease-in-out;
}


.filter-item input[type="checkbox"],
.filter-item input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.filter-item .checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 4px 12px;
  border-radius: 20px;
  background-color: $light-grey;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  @each $property,
  $value in $description {
    #{$property}: $value;
  }

  color: $dark;

  svg {
    fill: $grey;
  }
}

.filter-item--transparent .checkmark {
  background-color: transparent;
}

.filter-item input[type="checkbox"]:checked+.checkmark,
.filter-item input[type="radio"]:checked+.checkmark {
  background-color: $green;
  transition: background-color 0.3s ease;

  svg {
    fill: $dark;
  }
}

.filter-item input[type="checkbox"]:hover+.checkmark,
.filter-item input[type="checkbox"]:focus-visible+.checkmark,
.filter-item input[type="checkbox"]:active+.checkmark,
.filter-item input[type="radio"]:hover+.checkmark,
.filter-item input[type="radio"]:focus-visible+.checkmark,
.filter-item input[type="radio"]:active+.checkmark {
  background-color: $green;
  transition: background-color 0.3s ease;
  box-shadow: $green-shadow;

  svg {
    fill: $dark;
  }
}

.filter-item--transparent input[type="radio"]:hover+.checkmark,
.filter-item--transparent input[type="radio"]:focus-visible+.checkmark
.filter-item--transparent input[type="radio"]:active+.checkmark {
background-color: transparent;
box-shadow: none;
}

.filter-item--transparent input[type="radio"]:checked:hover+.checkmark,
.filter-item--transparent input[type="radio"]:checked:focus-visible+.checkmark
.filter-item--transparent input[type="radio"]:checked:active+.checkmark {
background-color: $green;
}

.filter-dark-wrapper {
  background-color: $light-grey;
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  padding: 4px;
  margin: 16px 0;

  .filter-item {
    text-align: center;
    vertical-align: middle;
    height: 100%;

    label,
    .checkmark {
      height: 100%;
    }
  }

  .filter-item input[type=radio]+.checkmark {
    border: 1.5px solid transparent;
    box-shadow: none;
  }

  .filter-item input[type=radio]:not(:checked):hover+.checkmark,
  .filter-item input[type=radio]:not(:checked):focus-visible+.checkmark,
  .filter-item input[type=radio]:not(:checked):active+.checkmark {
    border: 1.5px solid $green;
    background: $green;
    box-shadow: none;
  }
}

.filter-dark-wrapper .checkmark {

  @each $property,
  $value in $small {
    #{$property}: $value;
  }

  padding: 12px 4px;
}

.selected-items {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;

  @include vp-768 {
    gap: 16px;
  }

  [type="submit"],
  [type="reset"] {
    border: none;
    background-color: transparent;
    color: $blue;
    text-decoration: underline;
    text-underline-offset: 4px;
    cursor: pointer;
    order: 9;

    display: flex;
    align-items: center;
    gap: 3px;

    @each $property,
    $value in $small {
      #{$property}: $value;
    }

    &:hover,
    &:focus-visible,
    &:active {
      color: $dark;
    }
  }

  button[type="submit"] {
    background-color: $green;
    padding: 4px 12px;
    border-radius: 30px;
    text-decoration: none;
    color: $dark;

    @each $property,
    $value in $small {
      #{$property}: $value;
    }

    svg {
      cursor: pointer;
    }
  }

}


.selected-item {
  background-color: $medium-grey;
  padding: 4px 12px;
  border-radius: 30px;

  @each $property,
  $value in $small {
    #{$property}: $value;
  }

  svg {
    cursor: pointer;
  }
}


.date-input {
  display: flex;
  align-items: center;


}

.date-input__field {
  flex-grow: 1;
  padding: 8px 12px 8px 0;
  border: none;
  border-bottom: 1px solid $medium-grey;
  border-radius: 0px;
  font-size: 14px;
  outline: none;

  &:hover,
  &:focus-visible,
  &:active {
    border-color: $green;
    cursor: pointer;
  }

  @each $property,
  $value in $body {
    #{$property}: $value;
  }

  &::placeholder {

    @each $property,
    $value in $body {
      #{$property}: $value;
    }

  }
}

.date-input__btn {
  margin-left: 8px;
  padding: 6px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.date-input__btn svg {
  display: block;
}

.filters button[type="submit"] {
  display: block;
  padding: 10px;
  background-color: $green;
  border: none;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 25px;
  width: 100%;

  @each $property,
  $value in $button {
    #{$property}: $value;
  }

  text-align: center;

  &:hover,
  &:focus-visible,
  &:active {
    box-shadow: $dark-shadow;
  }
}

.remove-btn {
  margin-left: 6px;
  stroke: $grey;

  &:hover,
  &:focus-visible,
  &:active {
    svg {
      stroke: $dark;
    }
  }
}

.filters__button-close {
  svg {
    stroke: $grey;
  }

  &:hover,
  &:focus-visible,
  &:active {
    svg {
      stroke: $dark;
    }
  }
}

.suggestion-wrapper {
  position: relative;
}

.suggestion-wrapper input {

  &:hover,
  &:focus-visible,
  &:active {
    border-color: $green !important;
  }
}

.suggestion-list {
  position: absolute;
  top: calc(100% - 20px);
  left: 0;
  width: 100%;
  background-color: $white;
  border: 1.5px solid $medium-grey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
  display: none;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.08);
}

.suggestion-item {
  padding: 8px 12px;
  cursor: pointer;
}

.suggestion-item {

  &:hover,
  &:focus-visible,
  &:active {
    background-color: $light-grey;
  }
}

.arrow {
  stroke: $grey;

  &--next {
    transform: rotate(-90deg);
  }

  &--prev {
    transform: rotate(90deg);
    left: 0;
  }
}

[data-accordion="parent"] .filter-item input[type=checkbox]+.checkmark {
  border: 1.5px solid transparent;
  box-shadow: none;
}

[data-accordion="parent"] .filter-item input[type=checkbox]:not(:checked):hover+.checkmark,
[data-accordion="parent"] .filter-item input[type=checkbox]:not(:checked):focus-visible+.checkmark,
[data-accordion="parent"] .filter-item input[type=checkbox]:not(:checked):active+.checkmark {
  border: 1.5px solid $green;
  background: $light-grey;
  box-shadow: none;
}




.custom-select {
  position: relative;
}

.custom-select__buttons {
  position: relative;

  svg {
    position: absolute;
    right: 0;
    top: 45%;
  }
}

.custom-select__input {
  flex-grow: 1;
  padding: 8px 24px 8px 0;
  border: none;
  border-bottom: 1px solid $medium-grey;
  border-radius: 0px;
  font-size: 14px;
  outline: none;
  width: 100%;

  &:hover,
  &:focus-visible,
  &:active {
    border-color: $green;
  }

  @each $property,
  $value in $body {
    #{$property}: $value;
  }

  &::placeholder {

    @each $property,
    $value in $body {
      #{$property}: $value;
    }

  }
}

.nice-select .current {
  color: #A9A9A9;
}

.custom-select__options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: $white;
  border: 1.5px solid $medium-grey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
  display: none;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.08);
}

.custom-select__option {
  padding: 8px 12px;
  cursor: pointer;
}

.custom-select__option:hover,
.custom-select__option:focus,
.custom-select__option:active {
  background-color: $light-grey;
}

.custom-select__input .current {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter-list label {
  margin: 24px 0;
}

.filter-item label {
  margin: 0;
}

.filter-list__header {
  position: sticky;
  left: 0;
  transform: translate(0);
  top: 0;
  height: max-content;
  padding: 10px 0 0;
  z-index: 2;
  display: block;
  background-color: $light-grey;

  @include vp-768 {
    position: relative;
    padding: 0;
  }
}

.filter-item--order {
  .filter-item__text {

    @each $property,
    $value in $body {
      #{$property}: $value;
      margin-top: 0;
    }

  }

  a {
    display: block;
    border-radius: 25px;
    border: 1.5px solid $green;
    padding: 12px 24px;
    color: $dark;
    width: max-content;

    @each $property,
    $value in $button {
      #{$property}: $value;
      margin-top: 0;
    }

    &:hover,
    &:focus-visible,
    &:active {
      background-color: $green;
    }
  }
}

.filter-item--search {

  input:active+.checkmark,
  input:focus-visible+.checkmark,
  input:hover+.checkmark {
    opacity: 50% !important;
    background-color: transparent !important;
    border-color: transparent !important;
  }

  input:checked+.checkmark,
  input:checked:hover+.checkmark,
  input:checked:focus-visible+.checkmark,
  input:checked:hover+.checkmark {
    opacity: 100% !important;
    background-color: transparent !important;
    border-bottom-color: $green !important;
  }

  .checkmark:active,
  .checkmark:focus-visible,
  .checkmark:hover {
    background-color: transparent !important;
    border-color: transparent !important;
  }
}



.custom-select--transparent-background {
  .nice-select {
    background-color: transparent;

    &::placeholder {
      color: $grey;
    }
  }

  .multiple-options,
  .current {
    color: $grey;
  }

}

.table-container {
  margin: 16px 0 0;

  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  @include vp-1440 {
    margin: 24px 0 0;
  }

  &--no-margin {
    margin-top: 16px;

    @include vp-768 {
      margin-top: 0;
    }

    @include vp-1440 {
      margin-top: 0;
    }
  }

  &--no-margin-mobile {
    margin-top: 8px;

    @include vp-768 {
      margin-top: 16px;
    }


  }

  .arrows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin-left: 8px;
    position: relative;
    width: 10px;
  }

  .arrows-sort {
    stroke: $grey;
  }

  .arrows-sort--top {
    transform: rotate(180deg);
    bottom: auto;
    top: 0;
  }

  .arrows-sort.active {
    stroke: $dark;
  }

  table::-webkit-scrollbar {
    display: none;
  }

  table {
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    display: table;
  }

  th,
  td {
    white-space: nowrap;
  }

  .sortable {
    padding: 12px;
  }

  .sortable__name {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  th {
    text-align: center;
    padding: 16px;
    border-bottom: 1px solid $medium-grey;
    color: $grey;

    @each $property,
    $value in $small {
      #{$property}: $value;
    }
  }

  th.sortable--no-border {
    border: none;
    padding-top: 0;
  }

  td {
    padding: 16px;
    border-bottom: 1px solid $medium-grey;
    text-align: center;

    @each $property,
    $value in $body {
      #{$property}: $value;
    }
  }

  td a {
    color: $dark;

    &:hover,
    &:focus-visible,
    &:active {
      color: $blue;
    }
  }

  .left-align {
    text-align: left;

    .sortable__name {
      justify-content: flex-start;
    }
  }

  .bold-text {
    @each $property,
    $value in $button {
      #{$property}: $value;
    }
  }

  .bold-text-title {
    @each $property,
    $value in $h3-m {
      #{$property}: $value;
    }
  }

  .cell-flex {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .cell-flex--button-wrapper {
    gap: 2px;
  }

  .green-element {
    background-color: $green;
    padding: 8px 16px;
    border-radius: 25px;
  }

  .green-element--small {
    padding: 0;
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 8px;

    @each $property,
    $value in $link {
      #{$property}: $value;
    }

    text-align: center;
  }

  td .small-name {
    color: $grey;
    white-space: normal;

    @each $property,
    $value in $description {
      #{$property}: $value;
    }
  }

  .table-remove-button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    svg {
      stroke: $grey;
    }

    &:hover,
    &:focus-visible,
    &:active {
      svg {
        stroke: $dark;
      }
    }
  }

  .table--left {

    tr th:first-of-type .sortable__name,
    tr td:first-of-type {
      justify-content: flex-start;
      text-align: left;
    }
  }

  .user-form__checkbox--center .checkbox__checkmark {
    top: -12px;
    bottom: 0;

  }

  .content__text-list,
  .content__text-list * {

    @each $property,
    $value in $body {
      #{$property}: $value;
    }

    padding: 0;
    margin: 16px 0 0;

    display: flex;
    flex-direction: column;
    gap: 8px;

    @include vp-1440 {
      margin: 24px 0 0;
      gap: 12px;
    }

    li {
      position: relative;
      padding-left: 16px;
      margin: 0;
      display: inline-block;

      a {
        display: inline;
        color: $blue;
      }

      &:not(.simple-list-item):before {
        content: "";
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $green;
      }
    }
  }
}

.table-container--two-column {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

  @include vp-1024 {
    grid-template-columns: 1fr 1fr;
  }
}

.split-position {
  margin-left: 8px;
  color: $grey;

  @each $property,
  $value in $description {
    #{$property}: $value;
  }

  svg {
    fill: transparent;
    margin-bottom: 1px;
  }
}

.split-position--up {
  svg {
    stroke: $blue;
    transform: rotate(180deg);
    margin-bottom: 2px;
  }
}

.split-position--down {
  svg {
    stroke: $red;
  }
}
