.filter-list {
  .container {
    padding-top: 32px;
    padding-bottom: 64px;
  }

  .filter-list__body {
    display: flex;
    flex-direction: column;
    margin-top: 8px;

    @include vp-768 {
      flex-direction: row;
    }
  }

  .filters {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    left: 16px;
    right: 16px;
    transform: translate(0%, -50%);
    z-index: 4;
    padding: 24px 16px;
    background-color: $white;
    border-radius: 10px;
    height: max-content;

    overflow-y: auto;
    // max-height: 90vh;

    h2 {
      margin: 0 0 8px;
    }

    @include vp-768 {

      position: sticky;
      left: 0;
      transform: translate(0);
      top: 20px;
      height: max-content;
      max-width: 275px;
      margin-right: 20px;
      z-index: 0;
      display: block;
      overflow-y: auto;
      max-height: calc(100vh - 40px);
    }

    @include vp-1440 {
      max-width: 397px;
    }

    &__title-wrapper {
      display: flex;
      justify-content: space-between;

      button {
        border: none;
        background-color: transparent;
        cursor: pointer;

        @include vp-768 {
          display: none;
        }
      }

      h2 {

        @each $property,
        $value in $h3 {
          #{$property}: $value;
        }

        @include vp-768 {

          @each $property,
          $value in $h2 {
            #{$property}: $value;
          }
        }
      }
    }

    .filter-container {
      margin-bottom: 20px;
    }

    .filter-input {
      padding: 12px 12px;
      width: 100%;
      border: none;
      border-radius: 5px;
      border: 1.5px solid $medium-grey;
      margin: 16px 0;
      outline: none;
    }

    .filter-list {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      margin: 10px 0;
    }

    .filter-item {
      cursor: pointer;
    }

    .filter-item.hidden {
      display: none;
    }

    .selected-container {
      padding: 10px;
    }

    .selected-items {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .filters.active {
    display: block;

  }

  .list-container {
    @include vp-768 {
      flex-grow: 1;
      margin-top: 0;
    }
  }
}

@keyframes sortOpen {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.arrow {
  transform: rotate(0deg);
  transition: transform 0.4s ease-in-out;
}

.arrow.active {
  transform: rotate(180deg);
  transition: transform 0.4s ease-in-out;
}


.filter-item input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.filter-item .checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 4px 12px;
  border-radius: 20px;
  background-color: $light-grey;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  @each $property,
  $value in $description {
    #{$property}: $value;
  }

  color: $dark;

  svg {
    fill: $grey;
  }
}

.filter-item input[type="checkbox"]:checked+.checkmark {
  background-color: $green;
  transition: background-color 0.3s ease;

  svg {
    fill: $dark;
  }
}

.filter-item input[type="checkbox"]:hover+.checkmark,
.filter-item input[type="checkbox"]:focus-visible+.checkmark,
.filter-item input[type="checkbox"]:active+.checkmark {
  background-color: $green;
  transition: background-color 0.3s ease;
  box-shadow: $green-shadow;

  svg {
    fill: $dark;
  }
}

.filter-dark-wrapper {
  background-color: $light-grey;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
  padding: 4px;
  margin: 16px 0;

  .filter-item input[type=checkbox]+.checkmark {
    border: 1.5px solid transparent;
    box-shadow: none;
  }

  .filter-item input[type=checkbox]:not(:checked):hover+.checkmark,
  .filter-item input[type=checkbox]:not(:checked):focus-visible+.checkmark,
  .filter-item input[type=checkbox]:not(:checked):active+.checkmark {
    border: 1.5px solid $green;
    background: transparent;
    box-shadow: none;
  }
}

.filter-dark-wrapper .checkmark {

  @each $property,
  $value in $small {
    #{$property}: $value;
  }

  padding: 12px 4px;
}

.selected-items {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;

  @include vp-768 {
    gap: 16px;
  }

  [type="reset"] {

    border: none;
    background-color: transparent;
    color: $blue;
    text-decoration: underline;
    cursor: pointer;
    order: 999;

    @each $property,
    $value in $small {
      #{$property}: $value;
    }

    &:hover,
    &:focus-visible,
    &:active {
      color: $dark;
    }
  }
}


.selected-item {
  background-color: $medium-grey;
  padding: 4px 12px;
  border-radius: 30px;

  @each $property,
  $value in $small {
    #{$property}: $value;
  }

  svg {
    cursor: pointer;
  }
}


.date-input {
  display: flex;
  align-items: center;


}

.date-input__field {
  flex-grow: 1;
  padding: 8px 12px 8px 0;
  border: none;
  border-bottom: 1px solid $medium-grey;
  border-radius: 0px;
  font-size: 14px;
  outline: none;

  &:hover,
  &:focus-visible,
  &:active {
    border-color: $green;
    cursor: pointer;
  }

  @each $property,
  $value in $body {
    #{$property}: $value;
  }

  &::placeholder {

    @each $property,
    $value in $body {
      #{$property}: $value;
    }

  }
}

.date-input__btn {
  margin-left: 8px;
  padding: 6px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.date-input__btn svg {
  display: block;
}

.filters button[type="submit"] {
  display: block;
  padding: 10px;
  background-color: $green;
  border: none;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 25px;
  width: 100%;

  @each $property,
  $value in $button {
    #{$property}: $value;
  }

  text-align: center;

  @include vp-768 {
    display: none;
  }
}

.remove-btn {
  margin-left: 6px;
  stroke: $grey;

  &:hover,
  &:focus-visible,
  &:active {
    svg {
      stroke: $dark;
    }
  }
}

.suggestion-wrapper {
  position: relative;
}

.suggestion-wrapper input {

  &:hover,
  &:focus-visible,
  &:active {
    border-color: $green !important;
  }
}

.suggestion-list {
  position: absolute;
  top: calc(100% - 20px);
  left: 0;
  width: 100%;
  background-color: $white;
  border: 1.5px solid $medium-grey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
  display: none;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.08);
}

.suggestion-item {
  padding: 8px 12px;
  cursor: pointer;
}

.suggestion-item {

  &:hover,
  &:focus-visible,
  &:active {
    background-color: $light-grey;
  }
}

.arrow {
  stroke: $grey;

  &--next {
    transform: rotate(-90deg);
  }

  &--prev {
    transform: rotate(90deg);
  }
}

[data-accordion="parent"] .filter-item input[type=checkbox]+.checkmark {
  border: 1.5px solid transparent;
  box-shadow: none;
}

[data-accordion="parent"] .filter-item input[type=checkbox]:not(:checked):hover+.checkmark,
[data-accordion="parent"] .filter-item input[type=checkbox]:not(:checked):focus-visible+.checkmark,
[data-accordion="parent"] .filter-item input[type=checkbox]:not(:checked):active+.checkmark {
  border: 1.5px solid $green;
  background: $light-grey;
  box-shadow: none;
}




.custom-select {
  position: relative;
}

.custom-select__buttons {
  position: relative;

  svg {
    position: absolute;
    right: 0;
    top: 45%;
  }
}

.custom-select__input {
  flex-grow: 1;
  padding: 8px 12px 8px 0;
  border: none;
  border-bottom: 1px solid $medium-grey;
  border-radius: 0px;
  font-size: 14px;
  outline: none;
  width: 100%;

  &:hover,
  &:focus-visible,
  &:active {
    border-color: $green;
  }

  @each $property,
  $value in $body {
    #{$property}: $value;
  }

  &::placeholder {

    @each $property,
    $value in $body {
      #{$property}: $value;
    }

  }
}

.custom-select__options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: $white;
  border: 1.5px solid $medium-grey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
  display: none;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.08);
}

.custom-select__option {
  padding: 8px 12px;
  cursor: pointer;
}

.custom-select__option:hover,
.custom-select__option:focus,
.custom-select__option:active {
  background-color: $light-grey;
}

.filter-list__header {
  position: sticky;
  left: 0;
  transform: translate(0);
  top: 0;
  height: max-content;
  padding: 10px 0 0;
  z-index: 2;
  display: block;
  background-color: $light-grey;

  @include vp-768 {
   position: relative;
   padding: 0;
  }
}
