*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  font-style: normal;
  font-weight: 400;
  font-family: $ff;
  color: $dark;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  height: 100%;
  background-color: $light-grey;
}

a {
  text-decoration: none;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

input:-webkit-autofill {
  box-shadow: $dark-shadow;
}

// firefox placeholder \ invalid fix + ios bdrs
input,
textarea {
  border-radius: 0;

  &::placeholder {
    opacity: 1;
  }

  &:invalid {
    box-shadow: none;
  }
}

select {
  border-radius: 0;
}

// ie11 X removal
input {
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }
}

// chrome search X removal
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  appearance: none;
}

// input[number] arrows removal
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;

  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

button , a{
  appearance:  none !important;
  color:  currentColor;
}

// ios button \ inputs reset
select,
textarea,
input:matches([type="email"],
  [type="number"],
  [type="password"],
  [type="search"],
  [type="tel"],
  [type="text"],
  [type="url"]) {
  appearance: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: none;
}

li::marker {
  color: transparent;
}

ol:not([class]) {
  list-style-type: decimal;
  list-style-position: inside;

  @each $property,
  $value in $body {
    #{$property}: $value;
  }

  padding: 0;
  margin: 16px 0 0;

  display: flex;
  flex-direction: column;
  gap: 8px;

  @include vp-1440 {
    margin: 24px 0 0;
    gap: 12px;
  }

  li {
    position: relative;
    padding-left: 0;
    margin: 0;
    // display: inline-block;


    a {
      display: inline;
      color: $blue;

      &:hover,
      &:focus-visible,
      &:active {
        color: $dark;
    }
    }

    &::marker {
      color: currentColor;
    }

  //   // &:not(.simple-list-item):before {
  //   //   content: "1";
  //   //   position: absolute;
  //   //   left: 0px;
  //   //   top: 50%;
  //   //   transform: translateY(-50%);
  //   //   width: 8px;
  //   //   height: 8px;
  //   //   border-radius: 50%;
  //   //   background-color: $green;
  //   // }
  }
}
